input {
    margin-top: 20px;
}

.circle {
    background-color: yellow;
    border-radius: 50%;
    position: relative;
}

.little-circle {
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 5px;
}

.time {
    position: absolute;
    font-weight: bold;
    color: white;
}

.Hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: center bottom;
    border-radius: 5px;
    background-color: black;
    display: none;
}

#HourHand {
    width: 6px;
    z-index: 1;
}

#MinuteHand {
    width: 4px;
    z-index: 2;
}

#SecondHand {
    width: 2px;
    z-index: 3;
}

#currentTime {
    position: absolute;
}
