input[type="button"]{
    margin-top: 10px;
    margin-bottom: 10px;
}

form > div {
 margin-bottom: 10px;
}

label {
    width: 100px;
}

textarea {
    width: 100%;
}

form div {
    display: flex;
    align-items: center;
}

form div label {
    flex: 0 0 150px;
    margin-right: 10px;
}

.long-text {
    width: 100%;
}